@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&family=Urbanist&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  font-family: 'Urbanist', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}